<h1>Welcome to my book search page!</h1>
<br>
Please enter the title of the book.
<br>
<form method='post' action="search">
	<input type="text" name="title">
	<button type='submit'>Submit</button>
</form>