<h1>Thank you for your search!</h1>
<br>
This is what we found in the database:
<br>
<br>
<table>
	<tr><!--  #keeps all on same row -->
		<th>Title</th> <!-- #gives bold look as header <th> -->
		<th>ISBN</th>
		<th>Quantity</th>
		<th>Price</th>
	</tr>
	<tr>
		<td><%=book['title']%></td> <!-- #td tags create data fields under headers above -->
		<td><%=book['isbn']%></td>
		<td><%=book['quantity']%></td>
		<td><%=book['price']%></td>
	</tr>
</table>
